<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 class="w3-center w3-animate-top" style="text-align: center; margin-top: 50px;">What is EEE? <img src="assets\7fb5b63c34cf82142319b728d58716d0.jpg" height="100px" width="100px" alt=""> </h1>
<p>Electrical engineering is an engineering discipline concerned with the study, design and application of equipment, devices and systems which use electricity, electronics, and electromagnetism. It emerged as an identifiable occupation in the latter half of the 19th century after commercialization of the electric telegraph, the telephone, and electrical power generation, distribution and use.

    Electrical engineering is now divided into a wide range of fields including, computer engineering, power engineering, telecommunications, radio-frequency engineering, signal processing, instrumentation, and electronics. Many of these disciplines overlap with other engineering branches, spanning a huge number of specializations including hardware engineering, power electronics, electromagnetics and waves, microwave engineering, nanotechnology, electrochemistry, renewable energies, mechatronics, and electrical materials science. See glossary of electrical and electronics engineering.</p>
    <div class="row">
     
       
        
            <p> EEE is the undergraduate course that deals with all the areas of electronics and electrical engineering. Those areas include circuits, machines, Power systems, instruments etc. Electrical Engineering is responsible for generating, transferring and conversion of electric power. Electronic engineering is an engineering field that deals with transmission of information using radio signals.</p>
 
            <div class="col-sm-4">
                <img src="assets\GettyImages-634461665-5c2a568046e0fb0001754029.jpg" class="responsive"  alt="">
    
            </div>
        </div>