<meta name="viewport" content="width=device-width, initial-scale=1.0">

    

<h1  class="w3-center w3-animate-top" style="text-align: center ; margin-top: 50px;">What is Mechanical? <img src="assets\mec.png"  height="100px" width="150px"  alt=""></h1>
<img class="center" src="assets\Mechanical-bannner.jpg" alt="">
<img src="" class="center" alt="">
<p>Mechanical engineering is the discipline that applies engineering physics, engineering mathematics, and materials science principles to design, analyze, manufacture, and maintain mechanical systems. It is one of the oldest and broadest of the engineering disciplines.

    The mechanical engineering field requires an understanding of core areas including mechanics, dynamics, thermodynamics, materials science, structural analysis, and electricity. In addition to these core principles, mechanical engineers use tools such as computer-aided design (CAD), computer-aided manufacturing (CAM), and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, weapons, and others. It is the branch of engineering that involves the design, production, and operation of machinery.
<div class="row">
    <div class="col-sm-7 img">
        <img src="assets\mechanical-engineering-med.jpg" style="display: inline;" alt="">
  

    </div>
    <div class="col-sm-4">
        <b>Advantages of Mechanical     </b>
        <p>Pursuing a career in mechanical engineering offers many benefits, including excellent employment prospects, job security, opportunity for advancement, challenging tasks and work environments, and higher pay. Still, mechanical engineers deal with a number of disadvantages in their field of work.</p>
        <img src="assets\mech_design_training_I.png" alt="">
    </div>
</div>

