<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    

<!--effects-->

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
      <img class="img-responsive"  src="assets/sn arts logo copy.png" alt="">
          <div class="overlay">
            
    
          </div>
  </div>
</div>










<p> Competition Success has recognized the institution with 27th Rank among Outstanding Engineering College in India. S.N. Arts Engineering College offers the students with advantageous atmosphere with state-of-the-art facilities, distinguished mentors, and pleasant educational environment.</p>
<h1 class="display-5">Our Speciality</h1>
<p>S.A.Engineering College offers the students with advantageous atmosphere with state-of-the-art facilities, distinguished mentors, and pleasant educational environment. The institution provides the employability and communication skills for the development of students. It provides quality education in an environment of discipline. The focus is on shaping students to become self-disciplined, self-dependent and self-confident individuals. SAEC pulls out all the stops to mould the students’ career in such a way that they excel in all fine distinction of life. The College’s stand is not only on mere acquisition of course knowledge and its application but also on all-round personality development of the student and his value system. The infrastructure facilities have also been made to allow detailed learning ambience for the students. The full-fledged eco-friendly offers a quality environment to the students.</p>
<h1 class="display-5">History</h1>
<p>Towards fulfilling the above objectives, the Dharma Naidu Educational & Charitable Trust established the  S.N. Arts Engineering College in the year 1998 – '99 in accordance with the general policy of the Govt. of TamilNadu to give high priority to Technical Education. The campus is spread over a vast area of about 42 acres and has 2.25 lakh sq.ft. of constructed area which includes class rooms, drawing halls, laboratories, workshops and associated facilities. In recognition of the quality system of high caliber being implemented for the administration of the institution and achievement of its goals, m/s. TUV NORD have recorded ISO 9001: 2008 certification. The process of obtaining accreditation by NBA, New Delhi is on its way.</p>


</body>
