ul {
    list-style-type: none;
    margin-top: 25px;
   
    width: 200px;
    background-color: #f1f1f1;
    
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    padding: 40px;
    
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
body{
  background-image: linear-gradient(to right,#1f4037, #99f2c8);
}