

  
  /* Dropdown Content (Hidden by Default) */

  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:blue;
    padding: 9px 9px;
    text-decoration: none;
    display: block;
  }
  

  
  /* Show the dropdown menu on hover */
.dropdown .dropdown-content {
    display: block;
     background-color:slategrey;
  }
  
  .navbar a {
    color :white;
    font-family: Monospace;
  }
  .d{
    color:white ;
    font-family: Monospace;

  }

 input{
  border-color: skyblue;
}
body{
 
  font-weight: 500px;

}

.dropdown:hover>.dropdown-menu {
  display:block;
}