<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 class="w3-center w3-animate-top"  style="text-align: center; margin-top: 50px;">What is Civil? <img src="assets\Civil_Engineering_logo_Linear.png" height="100px" width="100px" alt=""> </h1>
<p>Civil engineering is a professional engineering discipline that deals with the design, construction, and maintenance of the physical and naturally built environment, including public works such as roads, bridges, canals, dams, airports, sewerage systems, pipelines, structural components of buildings, and railways.[1][2]

    Civil engineering is traditionally broken into a number of sub-disciplines. It is considered the second-oldest engineering discipline after military engineering,[3] and it is defined to distinguish non-military engineering from military engineering.[4] Civil engineering takes place in the public sector from municipal through to national governments, and in the private sector from individual homeowners through to international companies.
    
    </p>
    <img src="assets\unnamed.jpg" height="500px" width="900px" alt="">