<div class="row">
    
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h2 style="color:white"><i class="fa fa-clock-o" aria-hidden="true"></i>ATTENDANCE</h2>
        <table class="table">
            <thead style="color: white;">
              
                <th>Date</th>
             
                <th>Attendance </th>
            </thead>
            <tr>
                <td>{{studentattendance.date}}</td>
                <td>{{studentattendance.attendance}}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-2"></div>
</div>