

<body flex-container>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="container-fluid-sm">

<div class="container-fluid-sm w3-center w3-animate-left">
 
  

<div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets\Untitled-1.jpg" height="350" width="1680" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="assets\d.jpg" height="350" width="1680" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="assets\q.jpg" height="350" width="1680"  alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<!--rows-->
<div  class="w3-center w3-animate-left row  tb" >
  <div class="c col-sm-4">
    <div class="card-header" style="background-color: maroon;">
    <h3 style="height: 10px;" class="text-center text-warning  display-5">College Updates</h3></div>
    <div style="background-color: steelblue; height: 250px ; width: 485px; border:maroon solid 5px ;"  class="card-body">
     <marquee class="text-white" behavior="alternate"  width="400" direction="right">Updates and events</marquee>
    
    

    </div>
  </div>

    <div class="c col-sm-4">
      <div   class="card-header " style="background-color: orangered;">
        <h3  style="height: 10px; " class="text-center display-5">Our Facilities</h3></div>
        <div style="background-color: steelblue; height: 250px ; width: 485px; border: tomato solid 5px ;"  class="card-body">
          <div class="text-center">
            <ul class="text-white mt-5">
              <li>COLLEGE HOSTEL.</li>
              <li>TRANSPORT FACILITY</li>
              <li>CAFETERIA.</li>
              <li>LIBRARY & INFORMATION CENTER</li>
              <li>COLLEGE CANTEEN</li>
              <li>INTERNET CENTRE</li>
            </ul>
          </div>

    </div>
   </div>


    <div class="c col-sm-4">
      <div   class="card-header" style="background-color: cyan;">
        <h3  style="height: 10px; " class="text-center display-5">Acheivements</h3></div>
        <div style="background-color: steelblue; height: 250px ; width: 485px; border:cyan solid 5px ;"  class="card-body">
          <div class="text-center">
     <p class="text-white">Through an improving degree of professionalism, we are able to produce more and more opportunities to our budding Engineers and Managers in higher ranked industries with a high degree of morale and sense of attainment. We are able to expand our network with the industries through our high sense of commitment aiming student career progress. We are maintaining remarkable placement record for our students.</p>
          

  </div>
</div>


</div>
</div>
<h1 style="text-align: center;color: white;" class="display-5">OUR PLACEMENTS </h1>
<div class="row">

  <div class="card-footer" >
    <div class="row">
      <div class="col-sm-4">
        <img src="assets\companies.jpg" height="315px" width="800px" alt="">
      </div>
      <div class="col-sm-8">
        
  <img src="assets\cc2.jpg" alt="">

      </div>



    </div>
   

      


  </div>

</div>

</div>

</div>


<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 about-company">
        <h2><img src="assets\sn arts logo copy.png" style="display: flex; margin: 0%; padding: 0%;" height="200px" width="200px" alt="">SN ARTS </h2>

        <p class="pr-5 text-white-50">SN ARTS is a public university, located in kakinada, Andhra Pradesh, India, and one of the India's leading educational universities focusing on engineering </p>
        <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
      </div>

      <div style="margin-top: 60px;" class=" location">
        <h4 class="display-5">Location</h4>
        <p>kakinada,Andhra Pradesh pincode:533003</p>
        <p><i class="fa fa-phone mr-3"></i>9392328659</p>
        <p><i class="fa fa-envelope-o"></i>SNARTS@Snartscreativeuniverisity.com</p>
        <img src="assets\contact-1.png" alt="">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
  </div>

</body>