<body >

 <div class="row">
   <h2 style="text-align: center;color: white;"><i class="fa fa-check" aria-hidden="true"></i>MARKS</h2>
                   

  
                  
                  </div> 
                  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
                  <div class="box">
        <img src="assets\r.png" height="100px" width="150px" alt="">
                    <h6 >   <p>Student id:{{studemntmarks.studentid}}</p> <p>Year:{{studemntmarks.year}}</p> </h6>
                    <p>Branch</p>{{studemntmarks.branch}}
                  </div>
                  <div class="box-wrap">
                    <div class="box">
                      <h4>subject1</h4>{{studemntmarks.sub1}}
                    </div>
                    <div class="box">
                      <h4>subject2</h4> {{studemntmarks.sub2}}
                    </div>
                    <div class="box">
                      <h4>subject3</h4>{{studemntmarks.sub3}}
                    </div>
                    <div class="box">
                      <h4>subject4</h4>{{studemntmarks.sub4}}
                    </div>
                    <div class="box">
                      <h4>Lab Marks</h4>{{studemntmarks.lab}}
                    </div>
                    <div class="box">
                      <h4>Total Marks</h4>{{studemntmarks.totalmarks}}
                    </div>
                    
                  </div>
              
                </body>